body {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  transition: all 0.5s;
}
.container input {
  background-image: url("../../assets/search.svg");

  background-repeat: no-repeat;
  background-position: 99%;
  transition: all 0.5s;
}

:root {
  --size: 40px;
  --bord: 10px;
}

.chart {
  top: -1.2rem;
  margin-left: 0 !important;
  width: var(--size);
  height: var(--size);
  margin: 1em auto;
  border-radius: 50%;
  background-image: conic-gradient(red var(--value), lightgrey var(--value));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;

  border-radius: inherit;
}

.ant-radio-group-solid
  :where(
    .css-dev-only-do-not-override-acm2ia
  ).ant-radio-button-wrapper-checked:not(
    :where(
        .css-dev-only-do-not-override-acm2ia
      ).ant-radio-button-wrapper-disabled
  ) {
  color: #fff;
  background: #4b5563;
}
.ant-radio-group-solid
  :where(
    .css-dev-only-do-not-override-acm2ia
  ).ant-radio-button-wrapper-checked:not(
    :where(
        .css-dev-only-do-not-override-acm2ia
      ).ant-radio-button-wrapper-disabled
  ):hover {
  background: #1e293b;
}

.text-overview {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
